      <div class="footer">
        <div class="container">
          <div class="footer-row">
            <div class="frist-footer-block">
              <div class="footer-logo"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8f837a971254feb81588_Group%20151%20(1).png" loading="lazy" alt="" class="image-10"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c9ce27d43075d683d3657_Logo%20(1).png" loading="lazy" alt="" class="image-11"></div>
              <div class="text-block-23">SKYTCY Ltd, belongs to SKYTRADERS group of companies. SKYTRADERS is headquartered in Luxembourg with operational offices in Austria, Cyprus, Poland and Hong Kong.</div>
              <div class="div-block-12"><img src="/assets/images/Logo-2.png" loading="lazy" alt=""></div>
              <div class="social-media-icon">
                <a href="#" class="link-block fb w-inline-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8ffc34d44a4e854beb81_facebook%40512px%201.svg" loading="lazy" alt="Facebook"></a>
                <a href="#" class="link-block twitter w-inline-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c90237d430709193c98dd_twitter%40512px%201.svg" loading="lazy" alt="Twitter"></a>
                <a href="https://www.youtube.com/channel/UCILwGMXjBTj8rk1R7NfSt0Q" class="link-block w-inline-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c90213952abf806d43c9f_youtube%40512px%201.svg" alt="Youtube"></a>
                <a href="https://www.instagram.com/skytraders.trading/" class="link-block w-inline-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c90227a22ce7b40eccba1_instagram%40512px%201.svg" alt="Instagram"></a>
                <a href="https://www.tiktok.com/@skytraders.trading" class="link-block w-inline-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/63765fbe0f3df873611ed2c0_Group%209.svg" alt="Google"></a>
              </div>
            </div>
            <div class="footer-right">
              <div class="footer-right-box first-footer">
                <h3 class="heading-19">Navigation</h3>
                <div class="footer-nav">
                  <a href="#" class="link-3">Home</a>
                  <a href="#" class="link-3">About us</a>
                  <a href="#" class="link-3">Testimonials</a>
                  <a href="#" class="link-3">Get Started</a>
                  <a href="https://proptrading.skytraders.info/v/english-2/" class="link-3">FAQs</a>
                  <a href="#" class="link-3">Contact</a>
                </div>
              </div>
              <div class="footer-right-box">
                <h3 class="heading-19">Documents</h3>
                <div class="footer-nav">
                  <a href="#" class="link-3">Terms</a>
                  <a href="#" class="link-3">Privacy Policy</a>
                  <a href="#" class="link-3">Imprint</a>
                  <a href="#" class="link-3">Get Started</a>
                </div>
              </div>
              <div class="footer-right-box afa">
                <a href="#" class="button-3 w-button">Live chat</a>
                <div data-hover="false" data-delay="0" class="footer-language w-dropdown">
                  <div class="dropdown-toggle dsgs w-dropdown-toggle">
                    <div class="div-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b28de73e0936d40733a17_Country%20icons%20(1).png" loading="lazy" alt="Country Icon"></div>
                    <div class="nav-icon white w-icon-dropdown-toggle"></div>
                    <div class="nav-link">EN</div>
                    <div class="div-block logos-country hide"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/637761857dad396443512e6f_nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                    <div class="nav-link white hide">DE</div>
                  </div>
                  <nav class="dropdown-list w-dropdown-list">
                    <div class="dropdown-link flex hide">
                      <div class="div-block logos-country hide"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/637761857dad396443512e6f_nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                      <div class="nav-link hide">DE</div>
                      <div class="div-block"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b28de73e0936d40733a17_Country%20icons%20(1).png" loading="lazy" alt="Country Icon"></div>
                      <div class="nav-link">EN</div>
                    </div>
                    <a href="de.html" class="dropdown-link flex w-inline-block">
                      <div class="div-block logos-country"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/637761857dad396443512e6f_nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                      <div class="nav-link">DE</div>
                    </a>
                    <a href="ar.html" class="dropdown-link flex w-inline-block">
                      <div class="div-block logos-country"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/637cad292bf87f38bddb7c49_uae1.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                      <div class="nav-link">AR</div>
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
