      <div class="proprietary">
        <div class="container">
          <div class="proprietary-row">
            <div class="proprietary-left">
              <h2 class="heading-2">Start trading today for our</h2>
              <h2 class="heading-3">Proprietary Trading Firm</h2>
              <div class="text-block">We are looking for trading talents to provide them with capital to trade.</div>
              <div class="text-block">In 2012 we have started our own research project to find out if trading is just pure luck or a skill which can be learned.</div>
              <div class="text-block">We found that trading can be learned like playing tennis, we developed our SKYTRADERS qualification process.</div>
            </div>
            <div class="proprietary-right"><img src="/assets/images/imgpsh_fullsize_anim.jpg" alt="Start trading" class="image"></div>
          </div>
          <div class="get-certified">
            <div class="get-left">
              <h2 class="heading-2">Qualification Process</h2>
              <h2 class="heading-3">Pass our training program and get certified</h2>
            </div>
            <div class="process-button hide-process-button">
              <a href="#" class="button button-process w-button">Start now</a>
            </div>
          </div>
          <div class="process">
            <div class="process-left">
              <h1 class="heading-2 gsrty">Qualification Process</h1>
              <h1 class="heading-3 gsrty">Pass our training program and get certified</h1>
            </div>
            <div class="process-pass">
              <div class="mobile-tab-content">
                <h1 class="heading-22">Step 1 - <span class="text-span-2">Qualification</span></h1>
                <div class="text-block-27">The SKYTRADERS <span class="text-span-3">QUALIFICATION </span>is the first step of the onboarding process. You need to succeed here to advance into the CONFIRMATION stage. Prove your trading skills and discipline in achieving your objectives.</div>
              </div>
              <div class="mobile-tab-content">
                <h1 class="heading-22">Step 2 - <span class="text-span-2">Confirmation</span></h1>
                <div class="text-block-27">The <span class="text-span-4">CONFIRMATION </span>is the second and the last step to becoming a certified SKYTRADER. Once you pass the this stage and your results are verified by us, you will be offered to trade for our Proprietary Trading Firm.</div>
              </div>
              <div class="mobile-tab-content">
                <h1 class="heading-22">Step 3 - <span class="text-span-2">Certified SKYTRADER</span></h1>
                <div class="text-block-27">Congratulation! After successful completion of the previous two steps you will receive the SKYTRADERS<span class="text-span-3"> CERTIFICATE</span> confirming your trading skills.<br><br>With this certificate you are entitled to sign the Prop Trading agreement with us and start your career as a SKYTRADER at SKYTRADERS.</div>
              </div>
            </div>
            <div class="process-button hide-process-button">
              <a href="#" class="button button-process w-button">Start now</a>
            </div>
          </div>
          <div class="steps-row">
            <div class="step-box">
              <div class="height-box">
                <h2 class="heading-2 heading-tow-top">Step 1</h2>
                <h2 class="heading-3 h3-bold">Qualification</h2>
              </div>
              <div class="text-block-2">The SKYTRADERS <span class="step-span">QUALIFICATION</span> is the first step of the onboarding process. You need to succeed here to advance into the CONFIRMATION stage. Prove your trading skills and discipline in achieving your objectives.</div>
            </div>
            <div class="step-box">
              <div class="height-box">
                <h2 class="heading-2 heading-tow-top">Step 2</h2>
                <h2 class="heading-3 h3-bold">Confirmation</h2>
              </div>
              <div class="text-block-2">The <span class="step-span">CONFIRMATION </span>is the second and the last step to become a certified SKYTRADER. Once you pass the this stage and your results are verified by us, you will be offered to trade for our Proprietary Trading Firm.</div>
            </div>
            <div class="step-box">
              <div class="height-box">
                <h2 class="heading-2 heading-tow-top">Step 3</h2>
                <h2 class="heading-3 h3-bold">Certified <br>SKYTRADER</h2>
              </div>
              <div class="text-block-2">Congratulation! After successful completion of the previous two steps you will receive the SKYTRADERS <span class="step-span">CERTIFICATE</span> confirming your trading skills.</div>
              <div class="text-block-2 mrgin-text">With this certificate you are entitled to sign the Prop Trading agreement with us and start your career as a SKYTRADER at SKYTRADERS.</div>
            </div>
            <div class="process-button top-process-margin">
              <a href="#" class="button button-process w-button">Start now</a>
            </div>
          </div>
          <div class="the-proof">
            <div class="proof-left-main">
              <div class="proof-left">
                <h2 class="heading-2">The Proof</h2>
                <h2 class="heading-3">Trading can be learned</h2>
                <div class="text-block">Richard Dennis borrowed $1,600 to trade on the CBOT and turned it to $350 million in just about 6 years.</div>
                <div class="text-block">In 1983 he started the Turtle Traders experiment where he trained 21 randomly selected man and woman to become traders. They were called &quot;The Turtles&quot;.</div>
                <div class="text-block xbxc">After a two weeks of training and one month of trial period, the Turtles received $250k - $2 million capital to trade, which they turned into $175 million in five years when the experiment ended.</div>
              </div>
              <div class="begineer-row desk-box">
                <div class="beginner-inner-box"><img src="/assets/images/Icon.png" alt="Star icon">
                  <h3 class="heading-4">Are you a beginner?</h3>
                </div>
                <div class="beginner-inner-box"><img src="/assets/images/Icon.png" alt="Star icon">
                  <h3 class="heading-4">Are you a pro?</h3>
                </div>
                <div class="absolute-large">
                  <h1 class="heading-21">Are you a Beginner?</h1>
                  <div class="text-block-24">All what you need to kickstart your trading career is motivation. No experience is required. We’re going to teach you from scratch how to trade.</div>
                </div>
                <div class="absolute-large fds">
                  <h1 class="heading-21">Are you a Pro?</h1>
                  <div class="text-block-24">Join our team of fund managers, experienced traders and financial analysts to get a deep view of the market conditions and be ahead of others!</div>
                </div>
              </div>
              <div class="mov-beginers-row">
                <div data-w-id="03540504-a075-96a8-b7bc-a3a6d39f1f9d" class="mov-beginer-left"><img src="/assets/images/Icon.png" alt="">
                  <h3 class="heading-4">Are you a beginner?</h3>
                </div>
                <div data-w-id="6a57b522-d0aa-e5ee-f9c8-687819c02dc7" class="mov-beginer-right"><img src="/assets/images/Icon.png" alt="">
                  <h3 class="heading-4">Are you a pro?</h3>
                </div>
                <div class="beginer-pop b-pop-first">
                  <h1 class="heading-21">Are you a Beginner?</h1>
                  <div class="text-block-24">All what you need to kickstart your trading career is motivation. No experience is required. We’re going to teach you from scratch how to trade.</div><img src="/assets/images/Group-152.svg" loading="lazy" data-w-id="7b5ca42a-746b-2de1-03b8-3f10290bc64f" alt="" class="image-15">
                </div>
                <div class="beginer-pop pro-pop">
                  <h1 class="heading-21">Are you a Pro?</h1>
                  <div class="text-block-24">Join our team of fund managers, experienced traders and financial analysts to get a deep view of the market conditions and be ahead of others!</div><img src="/assets/images/Group-152.svg" loading="lazy" data-w-id="e56989eb-46d6-8354-b3e2-fdcc0fb0cb20" alt="" class="image-15">
                </div>
              </div>
            </div>
            <div class="proof-right"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/637b9c8f1627323e7eb44b58_2%20(1).png" alt="The proof" data-w-id="2c4af0fc-fade-1844-5134-51e5636dff59" class="image-2"></div>
            <div class="proof-right popup-window"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636cd4a0419d3c10293b5cc7_wall-street-journal.jpg" loading="lazy" alt="The proof" class="image-2 popup-img">
              <a href="#" class="close-pop w-inline-block">
                <div data-w-id="60aeb80a-5dc5-a069-8bdc-a13c95bfb1fc" class="text-block-35">X</div>
              </a>
            </div>
          </div>
          <div class="get-certified">
            <div class="get-left">
              <h2 class="heading-2">Top reasons for joining<span class="text-span-5"> SKYTRADERS</span></h2>
            </div>
            <div class="process-button hide-process-button">
              <a href="#" class="button button-process w-button">Start now</a>
            </div>
          </div>
          <div class="process">
            <div class="process-left">
              <h1 class="heading-2 afd">Top reasons for joining<span class="text-span-5"> SKYTRADERS</span></h1>
            </div>
            <div class="process-button">
              <div class="mobile-sky-slider">
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171" loading="lazy" src="/assets/images/1.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b54a810cbddbc9c89df4b_Group%20146.png" alt=""></div>
                    <h3 class="heading-5">DEMO TRIAL</h3>
                    <div class="text-block-3">SKYTRADERS offers chat functionality for the easy access to other member of the community so you can profit from the experience of a large team.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/2.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-146-3.png" alt=""></div>
                    <h3 class="heading-5">Social chat</h3>
                    <div class="text-block-3">To get to know our Prop Trading Plattform, Coaching Team and Rules, try SKYTRADERS for a 14 day trial.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="assets/images/3.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="assets/images/Group-145-1.png" alt=""></div>
                    <h3 class="heading-5">Platforms</h3>
                    <div class="text-block-3">For trading you can choose between Ctraders and our own SKYTRADERStrading platform.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/4.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-147.png" alt=""></div>
                    <h3 class="heading-5">Fair profit share</h3>
                    <div class="text-block-3">We offer our funded traders a share of80:20 at the beginning and 90:10 after a certain period of time and profit.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img loading="lazy" src="/assets/images/5.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-149.png" alt=""></div>
                    <h3 class="heading-5">Academy support</h3>
                    <div class="text-block-3">Our trading coach team consists ofexperienced traders, which are specialized in different trading methods.Get to know them.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/6.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-148.png" alt=""></div>
                    <h3 class="heading-5">Coaching</h3>
                    <div class="text-block-3">Additionally to our trading academy youcan profit from 1:1 coachings with ourtrading coaches as a funded trader.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/7.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-147.png" alt=""></div>
                    <h3 class="heading-5">Trade remotely</h3>
                    <div class="text-block-3">With SKYTRADERS you have the freedom to trade from everywhere at any time. This gives you the possibility to have a good work life balance</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/8.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-149.png" alt=""></div>
                    <h3 class="heading-5">Earn up to 90%</h3>
                    <div class="text-block-3">Earn up to 90% when you are consistent with your funded account. This share is the highest a prop  trading firm can offer.</div>
                  </div>
                </div>
                <div class="mobile-slider-inner">
                  <div class="div-block-10">
                    <div class="div-block-9"><img width="171.5" loading="lazy" src="/assets/images/9.svg" alt="" class="image-8"></div>
                  </div>
                  <div class="multi-box-row">
                    <div class="div-block-2"><img loading="lazy" src="/assets/images/Group-148.png" alt=""></div>
                    <h3 class="heading-5 asf">Get financially independent</h3>
                    <div class="text-block-3">The main reason to start at a prop trading firm is to get financially independet. We do not only offer a high profit share, but also a good support for all traders.</div>
                  </div>
                </div>
              </div>
              <a href="#" class="button button-process fdg ghdyt w-button">Start now</a>
            </div>
          </div>
          <div class="multi-box-row sggs margin-top-row">
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b54a810cbddbc9c89df4b_Group%20146.png" alt="Trial" class="box-icon"></div>
                  <h3 class="heading-5">DEMO TRIAL</h3>
                </div>
                <div class="text-block-3">To get to know our Prop Trading Plattform, Coaching Team and Rules, try SKYTRADERS for a 14 day trial.</div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5fbe4aff1c11ee64b39f_Group%20146%20(3).png" alt="Chat" class="box-icon"></div>
                  <h3 class="heading-5">Social chat</h3>
                </div>
                <div class="text-block-3">SKYTRADERS offers chat functionality for the easy access to other member of the community so you can profit from the experience of a large team.</div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f9dcb95e2b74905adc0_Group%20145%20(1).png" alt="Platforms" class="box-icon"></div>
                  <h3 class="heading-5">Platforms</h3>
                </div>
                <div class="text-block-3">For trading you you&#x27;ll be using our own SKYTRADERS trading platform. This provides more transparency, less technical issues and fast support.</div>
              </div>
            </div>
          </div>
          <div class="multi-box-row sggs">
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="multi-iner-row">
                    <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f1eb520df84265c0e83_Group%20147.png" alt="Profit share" class="box-icon"></div>
                    <h3 class="heading-5">FAIR PFROFIT SHARE</h3>
                  </div>
                </div>
                <div class="text-block-3">We offer our funded traders a share of 80:20 at the beginning and 90:10 after a certain period of time and profit.<strong></strong><br></div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f0fe7b37906b75bb11f_Group%20146%20(1).png" alt="Academy support" class="box-icon"></div>
                  <h3 class="heading-5">Academy support</h3>
                </div>
                <div class="text-block-3">Our trading coach team consists of experienced traders, which are specialized in different trading methods. Get to know them!</div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f35cfaef2b33dff0935_Group%20148.png" alt="Coaching" class="box-icon"></div>
                  <h3 class="heading-5">Coaching</h3>
                </div>
                <div class="text-block-3">In addition to our trading academy, you can profit from 1:1 coaching with our trading coaches as a funded trader.</div>
              </div>
            </div>
          </div>
          <div class="multi-box-row sggs">
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f1eb520df84265c0e83_Group%20147.png" alt="Trade remotely" class="box-icon"></div>
                  <h3 class="heading-5">Trade remotely</h3>
                </div>
                <div class="text-block-3">Trade anywhere, anytime and any day!<br>Our team is global, we embrace decentralization. No matter when or where you trade, our support team always got your back. </div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5f0fe7b37906b75bb11f_Group%20146%20(1).png" alt="Earn" class="box-icon"></div>
                  <h3 class="heading-5">Earn up to 90%</h3>
                </div>
                <div class="text-block-3">After a certain period of time as a certified SKYTRADER and a certain profit development, we&#x27;ll increase your share up to 90%</div>
              </div>
            </div>
            <div class="multi-box-inner">
              <div class="multi-box-row">
                <div class="multi-iner-row">
                  <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636b5ef9519296ff7140f650_Group%20145.png" alt="Financially independent"></div>
                  <h3 class="heading-5">Get financially independent</h3>
                </div>
                <div class="text-block-3">SKYTRADERS offer you financial independence trading our capital, whether trading full or part time.</div>
              </div>
            </div>
            <div data-delay="4000" data-animation="slide" class="mobile-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
              <div class="w-slider-mask">
                <div class="w-slide"></div>
                <div class="w-slide"></div>
              </div>
              <div class="w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
              </div>
              <div class="w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
              </div>
              <div class="w-slider-nav w-round"></div>
            </div>
          </div>
          <div class="account">
            <h2 class="heading-6">Choose your qualification account!</h2>
          </div>
        </div>
      </div>
