      <div class="hero">
        <div class="home-header">
          <div class="container">
            <div class="haeder-inner">
              <div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
                <div class="container-2 w-container">
                  <div class="nav-row">
                    <nav role="navigation" class="nav-menu w-nav-menu">
                      <div data-hover="false" data-delay="0" class="w-dropdown">
                        <div class="dropdown-toggle dsgs w-dropdown-toggle">
                          <div class="div-block hide"><img src="/assets/images/Country-icons-1.png" loading="lazy" alt="Country Icon"></div>
                          <div class="nav-icon w-icon-dropdown-toggle"></div>
                          <div class="nav-link hide">EN</div>
                          <div class="div-block"><img src="/assets/images/Country-icons-1.png" loading="lazy" alt="Country Icon"></div>
                          <div class="nav-link">EN</div>
                          <div class="div-block logos-country hide"><img src="/assets/images/nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                          <div class="nav-link hide">DE</div>
                        </div>
                        <nav class="dropdown-list w-dropdown-list">
                          <div class="dropdown-link flex hide">
                            <div class="div-block logos-country"><img src="/assets/images/nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                            <div class="nav-link">DE</div>
                          </div>
                          <a href="/de.html" class="dropdown-link flex w-inline-block">
                            <div class="div-block logos-country"><img src="/assets/images/nane.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                            <div class="nav-link">DE</div>
                          </a>
                          <a href="/ar.html" class="dropdown-link flex w-inline-block">
                            <div class="div-block logos-country"><img src="/assets/images/uae1.svg" loading="lazy" alt="Country Icon" class="country-img"></div>
                            <div class="nav-link">AR</div>
                          </a>
                        </nav>
                      </div>
                      <a href="#" class="nav-link w-nav-link">Home</a>
                      <a href="#" class="nav-link w-nav-link">About us</a>
                      <a href="#" class="nav-link w-nav-link">Testimonials</a>
                      <a href="#" class="nav-link w-nav-link">Get Started</a>
                      <a href="https://proptrading.skytraders.info/v/english-2/" class="nav-link w-nav-link">FAQs</a>
                      <a href="#" class="nav-link w-nav-link">Contact</a>
                    </nav>
                    <a href="#" class="w-nav-brand"><img src="/assets/images/logo.png" loading="lazy" alt="" class="image-5 hide"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/6376106c064651436ee41d3e_Asset%2018.svg" loading="lazy" alt="XSKYTRADERS" class="image-5 logo-svg"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c9ce27d43075d683d3657_Logo%20(1).png" loading="lazy" alt="" class="image-6"></a>
                    <div class="menu-button w-nav-button">
                      <div class="icon-2 w-icon-nav-menu"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-text-box">
          <div class="container">
            <div class="banner-text-inner">
              <div class="banner-left-box">
                <div class="h1-outer">
                  <h1 class="h1">We</h1>
                  <div class="heart-image"><img src="/assets/images/Heart.png" loading="lazy" alt="Heart" class="image-9"></div>
                  <h1 class="h1">Trading</h1>
                  <h1 class="h1 hiline">Join our Team</h1>
                </div>
                <div class="text-block-banner">We give you money to trade</div>
                <div class="text-block-banner">You keep up to 90% of the profits</div>
                <div class="banner-bottem-text">
                  <div class="text-block-banner">For beginners &amp; pros</div>
                  <div class="text-block-banner bold-text">Start our qualification program</div>
                  <div class="button-outer">
                    <a href="#" class="button w-button">Start 14 day trial now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="country-container">
            <div class="banner-nav">
              <a href="#" class="link">Luxembourg</a>
              <a href="#" class="link border-right-none">Austria</a>
              <a href="#" class="link border-right-none sfh">Cyprus</a>
              <a href="#" class="link border-right-none">Poland</a>
              <a href="#" class="link">Hong Kong</a>
              <a href="#" class="link border-right-none">UAE</a>
                </div>
              </div>
            </div>
          </div>
        </div>