      <div class="our-team">
        <div class="container">
          <div class="team-inner">
            <h2 class="heading-6">Meet our Team</h2>
            <h2 class="heading-3">Experienced professionals to support you</h2>
          </div>
        </div>
        <div class="container container-block">
          <div class="team-slider">
            <div class="slider-box"><img src="/assets/images/imgpsh_fullsize_anim-6.png" alt="Mina Baher" class="image-4">
              <div class="div-block-5">
                <h3 class="heading-16">MINA Henin</h3>
                <div class="text-block-18">Analyst &amp; Senior Trading Coach Global</div>
                <div class="text-block-19">Specialization: Crypto, Forex</div>
              </div>
            </div>
            <div class="slider-box"><img src="/assets/images/imgpsh_fullsize_anim-2.png" alt="Wolfgang Mayer" class="image-4">
              <div class="div-block-5">
                <h3 class="heading-16">WOLFGANG MAYER</h3>
                <div class="text-block-18">Head of Risk Global</div>
                <div class="text-block-19">Specialization: Forex</div>
              </div>
            </div>
            <div class="slider-box"><img src="/assets/images/imgpsh_fullsize_anim-1.png" alt="Anne Richrath" class="image-4">
              <div class="div-block-5">
                <h3 class="heading-16">ANNE RICHRATH</h3>
                <div class="text-block-18">Head of Marketing Global</div>
                <div class="text-block-19">Specialization: Marketing, Scalping</div>
              </div>
            </div>
            <div class="slider-box"><img src="/assets/images/imgpsh_fullsize_anim-3.png" alt="Patrik Kreuzweger" class="image-4">
              <div class="div-block-5">
                <h3 class="heading-16">PATRIK KREUZWEGER</h3>
                <div class="text-block-18">Trading Coach D-A-CH</div>
                <div class="text-block-19">Specialization: Crypto, Forex</div>
              </div>
            </div>
            <div class="slider-box"><img src="/assets/images/imgpsh_fullsize_anim-4.png" alt="Chris Redl" class="image-4">
              <div class="div-block-5">
                <h3 class="heading-16">CHRIS REDL</h3>
                <div class="text-block-18">Mental Coach</div>
                <div class="text-block-19">Specialization: Mental Coaching, Diving</div>
              </div>
            </div>
          </div>
        </div>
      </div>
