      <div class="trading-firm">
        <div class="container">
          <div class="start-trading-inner">
            <div class="trading-left">
              <h1 class="heading">As seen on</h1>
            </div>
            <div class="mobile-icon-row">
              <div class="mobile-icon"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636dda41aa9e999b67539729_Sponsors-5%201.png" loading="lazy" alt=""></div>
              <div class="mobile-icon"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636dda9461df2922a08f8ddb_Sponsors-2%201.png" loading="lazy" alt=""></div>
              <div class="mobile-icon"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636dda9bf118df1b9e755af9_Sponsors-4%201.png" loading="lazy" alt=""></div>
              <div class="mobile-icon"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636ddaa29b96f72392c7bac5_Sponsors-3%201.png" loading="lazy" alt=""></div>
              <div class="mobile-icon"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636ddaa9c3c4813bd6114eb3_Sponsors-1%201.png" loading="lazy" alt=""></div>
            </div>
            <div class="div-block-8"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/6378fd908d9ddae101cf0ee5_image%201.png" alt="As seen on logo"></div>
          </div>
        </div>
      </div>
