     <div class="start-now">
        <div class="container">
          <div class="start-inner">
            <h2 class="heading-17">Become a SKYTRADER</h2>
            <div class="div-block-7">
              <h3 class="heading-16">Are you ready?</h3>
              <div class="text-block-18 asd">Qualification is the first step of the Evaluation Process. You need to succeed here to advance into the Confirmation stage. Prove your trading skills and discipline in observing the Trading Objectives.</div>
              <a href="#" class="button full-button w-button">Start now</a>
            </div>
          </div>
        </div>
      </div>
