      <div class="any-questions">
        <div class="container">
          <div class="any-row">
            <h2 class="heading-6">Any Questions left?</h2>
            <div class="text-block-20">Some of the questions we get asked more often.</div>
            <div class="drop-outer">
              <div data-hover="false" data-delay="0" class="dropdown w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="div-block-6"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8215568f86d652d5743f_Plus.png" loading="lazy" data-w-id="ca988962-90d8-c836-7427-8d6f1d44da65" alt="Plus" class="plus"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c81d258f7606952a92397_Vector%20(5).png" loading="lazy" alt="Minus" class="minus"></div>
                  <div class="hide-arrow w-icon-dropdown-toggle"></div>
                  <div class="text-block-21">Is SKYTRADERS reputable?</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list">
                  <a href="#" class="dropdown-link-2 w-dropdown-link">Yes. SKYTRADERS is headquartered in Luxembourg, which is the number one most established and regulated financial center in Europe. <br><br>The team has been working at reputable banks, regulated financial institutions or US stock exchange listed multinational companies before starting SKYTRADERS. The operation has been set up from the beginning to be fully transparent and follows all legal guidelines to be in compliance with applicable laws and regulations. <br><br>SKYTRADERS has subsidiaries in Austria, Cyprus, Poland, UAE and Hong-Kong. Offices in further locations are planned. </a>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" data-w-id="345c984d-fbe3-56b7-f5d4-6dd0284d1caa" class="dropdown w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="div-block-6"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8215568f86d652d5743f_Plus.png" loading="lazy" alt="" class="plus2"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c81d258f7606952a92397_Vector%20(5).png" loading="lazy" alt="" class="minus2"></div>
                  <div class="hide-arrow w-icon-dropdown-toggle"></div>
                  <div class="text-block-21">How do I get started with SKYTRADERS?</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list">
                  <a href="#" class="dropdown-link-2 w-dropdown-link">At SKYTRADERS there are two ways of getting started to obtain a funded account and become a funded trader, a SKYTRADER. <br><br>‍<strong>1. Start with our 14 days trial</strong>You can try out our platform for free for 14 days by trading virtual money on a demo trading account. You can get to know our tools, our rules and predefined goals. <br><br>The demo account size is 100,000 EUR and you can find out if you are ready to become a funded SKYTRADER. Of course, you can also upgrade to a Qualification account during the trial period any time.<br><br>‍<strong>2.The SKYTRADERS Qualification</strong>You can also start the SKYTRADERS Qualification straight away. This Qualification is subject to a fee which is depending on the plan you select. On the selected training account, you must then prove your skills and trade according to our set risk parameters. </a>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" data-w-id="f5d080e3-8ed2-4a40-87c2-11e2295216d3" class="dropdown w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="div-block-6"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8215568f86d652d5743f_Plus.png" loading="lazy" alt="" class="plus3"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c81d258f7606952a92397_Vector%20(5).png" loading="lazy" alt="" class="minus3"></div>
                  <div class="hide-arrow w-icon-dropdown-toggle"></div>
                  <div class="text-block-21">What happens, if I have achieved all trading goals?</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list">
                  <a href="#" class="dropdown-link-2 w-dropdown-link">When all trade goals have been achieved, we will check your account and then send you by our agreement for the funded account. <br><br>As soon the formalities have been completed, we will assign a new trading account number for your new funded account. You do not need to change anything in your settings yourself.<br><br>Everyone participating in the Qualification will receive a trading qualification certificate issued in his own name and delivered as NFT to his Solana wallet address. </a>
                </nav>
              </div>
              <div data-hover="false" data-delay="0" data-w-id="fe1fdab5-5676-0a6e-20d3-20756e70b0d3" class="dropdown w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="div-block-6"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c8215568f86d652d5743f_Plus.png" loading="lazy" alt="" class="plus4"><img src="https://uploads-ssl.webflow.com/636b24b5a7fa1f6521b2e7b0/636c81d258f7606952a92397_Vector%20(5).png" loading="lazy" alt="" class="minus4"></div>
                  <div class="hide-arrow w-icon-dropdown-toggle"></div>
                  <div class="text-block-21">How much capital do I trade as a SKYTRADER?</div>
                </div>
                <nav class="dropdown-list-2 w-dropdown-list">
                  <a href="#" class="dropdown-link-2 w-dropdown-link">You will trade with the same account balance you traded your Qualification account size. If you traded €100,000 in the Qualification account, you would also trade €100,000 on the funded account.</a>
                </nav>
              </div>
              <div class="text-block-22">More questions?<a href="https://proptrading.skytraders.info/v/english-2/" class="link-2">Get the answers</a>
              </div>
            </div>
          </div>
        </div>
      </div>
